<div ng-init="loadEdit();">
    <h2>Edit</h2>
    <form>
        <fieldset>
            <div class="form-group row">
                <label for="id" class="col-sm-1 form-control-label">Id</label>
                    <input type="text" disabled id="id" name="id" ng-model="selectedProduct.Id" />
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-1 form-control-label">Name</label>
                    <input type="text" id="name" name="name" ng-model="selectedProduct.Name" />
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-1 form-control-label">Price</label>
                    <input type="text" id="price" name="price" ng-model="selectedProduct.Price" />
            </div>
            <div class="form-group row">
                <input type="button" value="Cancel" ng-click="go('/');" class="btn btn-primary" />
                <input type="submit" value="Submit" ng-click="updateProduct(selectedProduct);" class="btn btn-primary" />
            </div>
        </fieldset>
     </form>
</div>
